/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-background-image: url(../images/cover-image-dark.png);
  --decorated-zone-border: 1px solid #FF0070;
  --header-theme-menu-button-color: #FF0070;
  --header-theme-menu-button-active-border: 1px solid #FF0070;
  --header-theme-menu-button-hover-border: 1px solid #FF007066;
  --header-theme-menu-button-focus-border: 1px solid #FF0070;
  --main-title-color: #DB00FF;
  --header-description-color: #000028;
  --title-decor-background-color: #FF0070;
  --title-color: #000028;
  --block-title-color: #FF0070;
  --text-color: #F1B2CE;
  --link-hover-border: 2px solid #F1B2CE;
  --link-focus-border: 1px solid #F1B2CE;
  --footer-border: 1px solid #FF0070;
  --footer-title-color: #DB00FF;
  --accent-color: #FF0070;
  --accent-color-footer-title: #FF0070;
}
